<div class="projects">
    <div id="projects" class="header text-center pt-3 mt-5">
        <h2>Projects</h2>
        <h5>Check My Recent Projects</h5> 
    </div>
</div>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="assets/projects/rh1.png" alt="Real Homes Estate API Project">
                    <div class="card-body">
                        <p class="card-text">Realtor - an amazing Real Estate Application. With rental homes and for-sale properties, advanced property filtering, property details ...</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://realhome.vercel.app/"><button type="button" class="btn btn-sm btn-outline-primary">Visit Website</button></a>
                                <button (click)="open(content, 'realhomes')" type="button" class="btn btn-sm btn-outline-secondary">Description</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="assets/projects/ks1.png" alt="Real Homes Estate API Project">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://kingsintersect.github.io/kshopings/"><button type="button" class="btn btn-sm btn-outline-primary">Visit Website</button></a>
                                <button (click)="open(content, 'kshoppings')" type="button" class="btn btn-sm btn-outline-secondary">Description</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="assets/projects/cb1.png" alt="Real Homes Estate API Project">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://chi-blog.vercel.app/"><button type="button" class="btn btn-sm btn-outline-primary">Visit Website</button></a>
                                <button (click)="open(content, 'chiblog')" type="button" class="btn btn-sm btn-outline-secondary">Description</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="container">
            <div class="p-4 p-md-5 mb-5 rounded text-body-emphasis bg-body-secondary">
                <ngb-carousel *ngIf="imgUrl">
                    <ng-template *ngFor="let image of imgUrl" ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img  [src]="image" alt="Project Image" width="100%" height="100%"/>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="row">
                <div [innerHTML]="description" class="col lead fs-4 fw-lighter text-secondary text-justify">{{description}}</div>
                <div class="col">
                    <div class="p-5" style="background-color: #f8faff;">
                        <h2 class="bg-body-secondary px-3">Project Info</h2>
                        <ul class="list">
                            <li id="rating_star">
                                <span>Rating</span>: 
                                <script>
                                    // for (let i = 0; i < rating; i++) {
                                    //     document.getElementByC("rating_star")
                                    //     .innerHTML = "<i class='bi bi-star'>";
                                    // }
                                </script> 
                                <i class="bi bi-star-fill d-inline-block mx-1 fs-6"></i>
                                <i class="bi bi-star-fill d-inline-block mx-1 fs-6"></i>
                                <i class="bi bi-star-fill d-inline-block mx-1 fs-6"></i>
                                <i class="bi bi-star-fill d-inline-block mx-1 fs-6"></i>
                                <i class="bi bi-star-fill d-inline-block mx-1 fs-6"></i>
                            </li>
                            <li><span>Client</span>: Consumer API</li>
                            <li><span>Website</span>: <a href="https://realhome.vercel.app/">realhomes.com</a></li>
                            <li><span>Completed</span>: 17 Nov 2021</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</div>
</ng-template>
