<div id="contactme" class="header text-center pt-3 mt-5">
    <h2>Contact Me</h2>
    <h5>Lets Keep In Touch</h5> 
</div>

<div class="container col-xl-10 col-xxl-8 px-4 py-5 text-secondary">
    <div class="row align-items-center g-lg-5">
        <div class="col-lg-4 text-center text-lg-start">
            <h1 class="display-5 fw-bold lh-1 mb-3">Get In Touch</h1>
            <hr>
            <div class="col-lg-10 d-flex justify-content-center mb-3">
                <a href="https://web.facebook.com/king.solomon.1466" target="_blank"><i class="p-1 mx-1 text-secondary fs-4 bi-facebook"></i></a>
                <a href="https://wa.link/zxpho5" target="_blank"><i class="p-1 mx-1 text-secondary fs-4 bi-whatsapp"></i></a>
                <a href="https://www.instagram.com/kingsolomon284/" target="_blank"><i class="p-1 mx-1 text-secondary fs-4 bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/solomon-king-303210190" target="_blank"><i class="p-1 mx-1 text-secondary fs-4 bi-linkedin"></i></a>
                <a href="https://github.com/Kingsintersect" target="_blank"><i class="p-1 mx-1 text-secondary fs-4 bi-github"></i></a>
                <!-- <a href="#"><i class="p-1 mx-1 text-secondary fs-4 bi-twitter"></i></a> -->
            </div>
        </div>
        <div class="col-md-10 mx-auto col-lg-8" [formGroup]="form">
            <form action="javascript:void(0);" (submit)="send()" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <div class="form-floating mb-3">
                    <input
                    formControlName="from_name"
                    type="name" class="form-control" id="name" placeholder="Full Name">
                    <label for="name">Full Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                    formControlName="from_email"
                    type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                    formControlName="subject"
                    type="subject" class="form-control" id="subject" placeholder="Subject Of Your Mail">
                    <label for="name">Subject</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea
                    formControlName="message"
                    class="form-control" placeholder="Reach Out To Me..." name="message" id="message" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Your Message</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">
                    <i class="bi bi-send"></i>
                    Send
                </button>
            </form>
        </div>
    </div>
</div>