<div id="home" class="px-4 py-5 my-5 text-center">
    <div class="row mt-5">
        <div class="col-lg-7 text-secondary">
            <div class="social-media d-flex justify-content-center mb-3">
                <a href="https://web.facebook.com/king.solomon.1466" target="_blank"><i class="p-1 mx-1 text-secondary fs-4 bi-facebook"></i></a>
                <a href="#"><i class="p-1 mx-1 text-secondary fs-4 bi-whatsapp"></i></a>
                <a href="https://www.instagram.com/kingsolomon284/" target="_blank"><i class="p-1 mx-1 text-secondary fs-4 bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/solomon-king-303210190" target="_blank"><i class="p-1 mx-1 text-secondary fs-4 bi-linkedin"></i></a>
                <a href="https://github.com/Kingsintersect" target="_blank"><i class="p-1 mx-1 text-secondary fs-4 bi-github"></i></a>
                <!-- <a href="#"><i class="p-1 mx-1 text-secondary fs-4 bi-twitter"></i></a> -->
            </div>
            <h5 class="name fs-4">Hello, I'm <span class="fw-bold" style="color: #5f30ff;">Solomon</span></h5>
            <h2 class="profesion">Software Developer</h2>
            <p class="description  fs-5">Build An Enterprise Applications With Industrial Standard Solutions</p>
            <div class="action-btn d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary px-4 gap-3">Hire Me</button>
                <a href="assets/documents/RESUME/SolomonResume.pdf" class="btn btn-outline-secondary px-4">Get Resume</a>
            </div>
        </div>
        <div class="col-lg-5">
            <img class="rounded profile-img d-block mb-4" src="https://www.befunky.com/images/prismic/82e0e255-17f9-41e0-85f1-210163b0ea34_hero-blur-image-3.jpg?auto=avif,webp&format=jpg&width=896" alt="" width="300" height="300">
        </div>        
    </div>
</div>