<div id="about">
    <div id="about-header" class="header text-center">
        <h2>About Me</h2>
        <h5>Why Choose Me?</h5>
    </div>

    <div class="container my-3">
        <div class="row pb-0 pe-lg-0 align-items-center">
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3 rounded rounded-img" src="https://www.befunky.com/images/prismic/82e0e255-17f9-41e0-85f1-210163b0ea34_hero-blur-image-3.jpg?auto=avif,webp&format=jpg&width=896" alt="" width="720">
            </div>
            <div class="col-lg-6 offset-lg-1 p-3 p-lg-5 pt-lg-3">
                <h2 class="display-6 fw-bold lh-1">
                    Software Developer
                </h2>
                <p class="lead fs-5 mt-3">
                    Experienced software developer over 3 years, with a demonstrated history of working in the information technology and services industry. 
                    Skilled in application development, database design, and web design.
                    currently looking for the right opportunity to maximize my potentials for the success of the organization
                </p>
                <h2 class="description fs-5 fw-bold lh-1 mt-5">
                    Here Are A few Highlights:
                </h2>
                <div class="list-group list-group-flush">
                    <div class="list-group-item  d-flex gap-3 py-2" aria-current="true">
                        <!-- <span class="badge bg-primary rounded-pill mr-3">0</span> -->
                        <img src="../../../../assets/red-bullet.jpg" alt="twbs" width="20" height="20" class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">Full stack web developer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item  d-flex gap-3 py-2" aria-current="true">
                        <img src="../../../../assets/red-bullet.jpg" alt="twbs" width="20" height="20" class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">React Developer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item  d-flex gap-3 py-2" aria-current="true">
                        <img src="../../../../assets/red-bullet.jpg" alt="twbs" width="20" height="20" class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">Angular Developer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item  d-flex gap-3 py-2" aria-current="true">
                        <img src="../../../../assets/red-bullet.jpg" alt="twbs" width="20" height="20" class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">Java Developer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item  d-flex gap-3 py-2" aria-current="true">
                        <img src="../../../../assets/red-bullet.jpg" alt="twbs" width="20" height="20" class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">Restful API</h6>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item  d-flex gap-3 py-2" aria-current="true">
                        <img src="../../../../assets/red-bullet.jpg" alt="twbs" width="20" height="20" class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-1 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">Database Design</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start my-5 mb-lg-3">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Hire Me</button>
                    <a href="../../../../assets/documents/RESUME/SolomonResume.pdf" class="btn btn-outline-secondary btn-lg px-4">Download CV</a>
                </div>
            </div>
        </div>
    </div>   
</div>
