
<div class="bg-body-tertiary">
    <div class="myservices">
        <div id="myservices" class="header text-center pt-3 mt-5">
            <h2>My Services</h2>
            <h5>What Service I Offer For You</h5> 
        </div>
    </div>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="service_item">
                        <img src="assets/img/s1.png" alt="">
                        <h4>Web Development</h4>
                        <p>
                            Build your custom web application from scratch.

                            Conver Photoshop Images into web applications.
                            
                            Build landing pages and blogs and E-Commerce site for your business

                            Customization And Maintenace of your website.
                        </p>
                        <a href="#" class="primary_btn2 mt-5">Learn More</a>
                    </div>            
                </div>
                <div class="col">
                    <div class="service_item">
                        <img src="assets/img/s2.png" alt="">
                        <h4>Software Development</h4>
                        <p>
                            Build Enterprice Software Applications From Scratch.

                            Build A Scalable Backend for your software Application.

                            Integrate Third-Party API for your Software Applications.

                            Fix Bugs in Software Applications.

                            Build CMS(Content Manaagement Software) for your company or businesess.
                        </p>
                        <a href="#" class="primary_btn2 mt-5">Learn More</a>
                    </div>            
                </div>
                <div class="col">
                    <div class="service_item">
                        <img src="assets/img/s3.png" alt="">
                        <h4>Database Design</h4>
                        <p>
                            Design the database model for your Software applications
                        </p>
                        <a href="#" class="primary_btn2 mt-5">Learn More</a>
                    </div>            
                </div>
            </div>
        </div>
    </div>    
</div>
