.service_item {
	padding: 60px 30px;
	text-align: center;
	background: #f8faff;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.service_item:hover {
	background: #5f30ff;
    color: #fff;
}
.service_item:hover > h4 {
    color: #fff;
}
.service_item:hover > a {
    color: #fff;
}
.service_item img {
	margin-bottom: 45px;
}
img {
	vertical-align: middle;
	border-style: none;
}
.service_item h4 {
	color: #05364d;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
	text-transform: capitalize;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto",sans-serif;
	font-weight: 700;
	color: #05364d;
}
.service_item p {
	margin-bottom: 0px;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.primary_btn2 {
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	color: #05364d;
	display: inline-block;
	position: relative;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}