/* You can add global styles to this file, and also import other style files */
@import url('~bootstrap/dist/css/bootstrap.css');
@import url('~bootstrap-icons/font/bootstrap-icons.css');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.generic-background-color{
    background-color: #212529;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto",sans-serif;
	font-weight: 700;
	color: #05364d;
}
body {
	font-family: "Roboto",sans-serif;
}
.app-bg-color{
	background-color: #05364d;
}
.text-justify {
	text-align: justify !important;
}